# The LED pins are on dedicated pins and cannot be modified!
# Note that they are negative logic (write a 0 to turn on).
# These are also brought out to the left side of the board. 
# Cut the board trace on jumper R28 to disable the onboard 3 color LED.
set_io -nowarn led_green 39
set_io -nowarn led_red	41
set_io -nowarn led_blue	40

# FTDI chip interface
set_io -nowarn serial_txd 14 # FPGA transmit to USB
set_io -nowarn serial_rxd 15 # FPGA receive from USB
set_io -nowarn spi_cs 16 # Connected to SPI flash, drive high unless using SPI flash!

# If using the FTDI MPSSE engine, the following signals apply
set_io -nowarn spi_sck 15  # Shared with the flash
set_io -nowarn spi_ssn 16  # Connected to SPI flash, drive high unless using SPI flash!
# https://github.com/tinyvision-ai-inc/UPduino-v3.0/blob/master/Board/v3.0/UPduino_v3.0.pdf
# NOTE : looking at the Upduino diagram, these pins appear to be swapped so that FLASH_MOSI goes into FPGA_SO
# when it's in Flash progamming mode (instead of CRAM.)
# so I swapped these between pins 14 and 17.
# This makes sense, so that the FTDI's output goes into flash input for programming.
# Why the hell isn't this documented anywhere? Took so long to figure this out...
set_io -nowarn spi_mosi 14 # Shared with the flash
set_io -nowarn spi_miso 17 # Shared with the flash

set_io -nowarn address[15] 2
set_io -nowarn address[14] 46
set_io -nowarn address[13] 47
set_io -nowarn address[12] 45
set_io -nowarn address[11] 48
set_io -nowarn address[10] 3
set_io -nowarn address[9] 4
set_io -nowarn address[8] 44
set_io -nowarn address[7] 6
set_io -nowarn address[6] 9
set_io -nowarn address[5] 11
set_io -nowarn address[4] 18
set_io -nowarn address[3] 19
set_io -nowarn address[2] 13
set_io -nowarn address[1] 21
set_io -nowarn address[0] 12
set_io -nowarn data[7] 42
set_io -nowarn data[6] 36
set_io -nowarn data[5] 43
set_io -nowarn data[4] 34
set_io -nowarn data[3] 37
set_io -nowarn data[2] 31
set_io -nowarn data[1] 32
set_io -nowarn data[0] 27
set_io -nowarn nWR 25
set_io -nowarn nRD 26
set_io -nowarn data_OE 38
set_io -nowarn gb_reset 28
